aiohttp[speedups]
aiofiles
aioshutil
anytree==2.8.0
apscheduler
aria2p
beautifulsoup4
imdbinfo
cloudscraper
cryptography
dnspython
feedparser
flask
gevent
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
git+https://github.com/zevtyardt/lk21.git
httpx
langcodes[data]
lxml
motor
mutagen
markdown
natsort
parse-torrent-name
pillow
playwright
psutil
pybase64
pycountry
pymongo
wzgram[fast]
python-dotenv
python-magic
qbittorrent-api
requests
speedtest-cli
telegraph
tenacity
uv
uvloop==0.21.0
xattr
yt-dlp[default,curl-cffi]
yt-dlp-ejs
pytz
tzlocal
